AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    Options FollowSymlinks
    RewriteEngine on
    RewriteRule ^$ frontend/web/            [L]
    RewriteRule ^(.+)?$ frontend/web/$1     [L]
</IfModule> 